body{
    margin: 0;
    padding: 10px;
}
.goods1, .goods2{

    border: 2px solid black;
    padding: 10px;
}
.goods2{
    width: 600px;
}
.good1{
    width: 250px;
    background-color: #fffceb;
    padding: 10px;
    margin: 20px auto;
}
.photo{
    width: 100%;
    height: 200px;
    background: url(img/porsche-3495406_1280.jpg) center center no-repeat;
    background-size: contain;
}
.description{
    background-color: white;
    padding: 5px;
}
button{
    width: 100px;
    margin-top: .5rem;
    margin-left: 150px;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #D99D0A;
    color: white;

}
button:active, button:hover, button:focus{
    background-color: #af780a;
    outline: none;
}
button:active{
    outline: 2px solid #603f07;
    outline-offset: -2px;
}
